[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "*.erl",
        ruleset => erl_files,
        ignore => ["src/kpl_agg_pb.erl"],
        rules => [
            {elvis_style, line_length, #{limit => 120, skip_comments => whole_line}},
            {elvis_style, nesting_level, #{level => 4}},
            {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
            {elvis_style, invalid_dynamic_call, disable},
            {elvis_style, no_debug_call, #{ignore => [erlmld_noisy_wrk, erlmld_runner]}}
        ]
      },
      #{dirs => ["."],
        filter => "*rebar.config",
        ruleset => rebar_config,
        rules => [
            %% Elixir deps use git@...
            {elvis_project, protocol_for_deps_rebar, disable}
        ]
      },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
      }
     ]
    }
   ]
 }
].
