{erl_opts,
 [warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warnings_as_errors,
  debug_info,
  {i, "./_build/default/plugins/gpb/include"}]}.

{deps, [{jiffy, "1.0.8"}, {erlexec, "1.10.9"}]}.

{minimum_otp_version, 23}.

{plugins, [rebar3_gpb_plugin]}.

{project_plugins,
 [{rebar3_hex, "~> 6.11.4"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 0.4.0"},
  {rebar3_hank, "~> 1.1.2"}]}.

{gpb_opts,
 [{i, "priv/proto"},
  {module_name_suffix, "_pb"},
  {o_erl, "src"},
  {o_hrl, "include"},
  {strings_as_binaries, true},
  type_specs]}.

{provider_hooks, [{pre, [{compile, {protobuf, compile}}, {clean, {protobuf, clean}}]}]}.

{dialyzer,
 [{warnings, [unknown, no_return, error_handling]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {base_plt_apps, [erts, stdlib, kernel]},
  {base_plt_location, global}]}.

{xref_checks, [undefined_function_calls, locals_not_used, deprecated_function_calls]}.

{xref_ignores,
 %% Dynamically generated modules
 [kpl_agg_pb]}.

{cover_enabled, true}.

{alias, [{test, [format, lint, hank, xref, dialyzer, eunit, cover]}]}.

{format, [{ignore, ["src/kpl_agg_pb.erl", "include/gpb.hrl", "include/kpl_agg_pb.hrl"]}]}.

{hank,
 [{ignore,
   ["src/kpl_agg_pb.erl",
    "include/gpb.hrl",
    "include/kpl_agg_pb.hrl",
    %% The options for this app are converted to a map in erlmdl_app and then
    %% dynamically replaced in an .properties file. We can't detect unused
    %% configuration options. They're technically all used.
    "src/erlmld.app.src"]}]}.
