% -*- mode: erlang -*-
{erl_opts, [debug_info]}.

{deps, [
        {jiffy, "0.15.2"},
        {erlexec, "1.9.1"},
        {b64fast, "0.2.1"}
       ]}.

{minimum_otp_vsn, "21.0"}.

{plugins, [rebar3_gpb_plugin,
           {pc, "1.10.0"}
          ]}.

{erl_opts, [{i, "./_build/default/plugins/gpb/include"}]}.

{gpb_opts, [
    {i, "proto"},
    {module_name_suffix, "_pb"},
    {o_erl, "src"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{overrides,
 [{override, b64fast,
   [
    {plugins, [pc]},
    {artifacts, ["priv/b64fast.so"]},
    {provider_hooks, [
                      {post,
                       [{compile, {pc, compile}},
                        {clean, {pc, clean}}]}
                     ]}
   ]}
 ]}.
